<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="container py-4">
    <h1 class="text-center mb-4">Welcome to the URL Shortener!</h1>
    <hr/>
    <form id="shortenForm" class="mb-4">
        <div class="form-group">
            <label for="long_url">Enter your URL:</label>
            <input type="text" id="long_url" name="long_url" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Shorten URL</button>
    </form>
    <div id="shortenedUrl" class="alert alert-info" role="alert"></div>
    <form id="searchForm" class="mb-4">
        <div class="form-group">
            <label for="searchTerm">Search by Title:</label>
            <input type="text" id="searchTerm" name="term" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div id="searchResults"></div>

    <script>
        document.getElementById('shortenForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const longUrl = document.getElementById('long_url').value;
            const data = {
                long_url: longUrl,
            };

            fetch('/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('shortenedUrl').innerHTML = "Shortened URL: " + data.short_url;
            })
            .catch(error => console.error('Error:', error));
        });

        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const searchTerm = document.getElementById('searchTerm').value;

            fetch(`/search?term=${searchTerm}`, {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => displaySearchResults(data))
            .catch(error => console.error('Error:', error));
        });

        function displaySearchResults(results) {
            const searchResultsDiv = document.getElementById('searchResults');
            searchResultsDiv.innerHTML = '';

            if (results.length === 0) {
                searchResultsDiv.innerHTML = 'No results found.';
            } else {
                results.forEach(result => {
                    const resultDiv = document.createElement('div');
                    resultDiv.innerHTML = `<b>Title:</b> ${result.title}<br><b>Short URL:</b> ${result.short_url}<br><b>Long URL: </b>${result.long_url}<br>`;
                    searchResultsDiv.appendChild(resultDiv);
                });
            }
        }
    </script>
</body>
</html>
